/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 공통 스타일 */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* container */
.container {
  background-color: #f5f5f5;
  border: 1px solid green;
  width: 300px;
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.container .display {
  height: 60px;
  margin-bottom: 20px;
  background-color: #fac2c2;
  border-radius: 20px;
  padding: 10px;
  text-align: right;
  line-height: 40px;
}

.container .buttons {
  border: 1px solid blue;
}

/* Mac btn */

.btn-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-list button {
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
}

.btn-list button:nth-child(1) {
  background-color: #ff5f57;
}

.btn-list button:nth-child(2) {
  background-color: #ffbd2e;
}

.btn-list button:nth-child(3) {
  background-color: #28c840;
}

/* buttons */

.buttons {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.buttons button {
  width: 100%;
  height: 100%;
  background-color: #fff5cc;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 1.1rem;
}

.buttons button:not(.zero) {
  aspect-ratio: 1 / 1;
}

.buttons button:hover {
  background-color: #fff0ab;
}

.buttons .zero {
  grid-column: span 2; /* 2열 차지 */
  border-radius: 50px; /* 길쭉한 타원형 */
}
